@model ProductivityTracker_Models.ViewModels.Dashboard.AccountInfoViewModel
@using ProductivityTracker_Models.Dto.Dashboard;
@using GridMvc.Html

@{ 
    Layout = null;
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>  

<div class="code-cut">
    @helper CustomRenderingOfStatusColumn(AccountInfoDto info)
    {
        if (info.Status == "New")
        {
            <button type="submit" value="@info.AccountId" onclick="pickAccount(@info.AccountId, 1)">Pick</button>
        }
        else if (info.Status == "Completed")
        {
            <button type="submit" disabled value="@info.AccountId">Completed</button>
        }
        else if (info.Status == "In Progress")
        {
            @*<button type="submit" value="@info.AccountId" onclick="completeAccount(@info.TimeLogId, 1, 4)">Complete</button>*@
            <button type="submit" value="@info.AccountId" onclick="showModal(@info.TimeLogId, @info.AccountId, 4)">Complete</button>
            <button type="submit" value="@info.AccountId" onclick="showModal(@info.TimeLogId, @info.AccountId, 3)">Pause</button>
        }
        else if (info.Status == "Paused")
        {
                <button type="submit" value="@info.AccountId" onclick="pickAccount(@info.AccountId, 1)">Resume</button>
        }
    }

    @{ 
        if (Model.Accounts != null)
        {
            @Html.Grid(Model.Accounts).Columns(
                columns =>
                {
                    columns.Add(model => model.CustomId).Titled("CID-AID").Filterable(true);
                    columns.Add(model => model.AccountName).Titled("Account Name").Filterable(true);
                    columns.Add(model => model.StartDate).Titled("Renewal Start Date").Filterable(true);
                    columns.Add(model => model.PickedBy).Titled("Picked By").Filterable(true);
                    columns.Add(model => model.PickedOn).Titled("Picked On");
                    columns.Add(model => model.Status).Titled("Status").Filterable(true);
                    columns.Add(model => model.AccountId).Titled("").Encoded(false).Sanitized(false).RenderValueAs(model => CustomRenderingOfStatusColumn(model));
                    
                }).WithPaging(20).Named("gridInfo").Sortable(true);
        }
    }
</div>

<div id="commentsModal" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">Comments</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnTimeLogId" />
                <input type="hidden" id="hdnAccountId" />
                <input type="hidden" id="hdnUserId" />
                <input type="hidden" id="hdnStatusId" />
                Enter comments: <input type="text" id="txtComments" />
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="completeAccount()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function pickAccount(accountId, userId) {
        debugger;
        var url = '@Url.Action("PickAccount", "Home")';
        var data = { id: accountId };
        $.post(url, data, function (result) {
            $("#accountInfo").html(result);
            alert('Update successful!');
        });
    }

    //function completeAccount(accountId, timeLogId, statusId, comment) {
    function completeAccount() {
        debugger;
        var accountId = $('#hdnAccountId').val();
        var timeLogId = $('#hdnTimeLogId').val();
        var statusId = $('#hdnStatusId').val();
        var comment = $('#txtComments').val();
        var url = '@Url.Action("CompleteAccount", "Home")';
        var data = { timeLogId: timeLogId, accountId: accountId, statusId: statusId, comments:comment };
        $.post(url, data, function (result) {
            $("#accountInfo").html(result);
            alert('Update successful!');
        });
    }

    function showModal(timeLogId, accountId, statusId) {
        $('#commentsModal').modal('show');
        $('#hdnTimeLogId').val(timeLogId);
        $('#hdnAccountId').val(accountId);
        $('#hdnStatusId').val(statusId);
    }
</script>