@model ProductivityTracker_Models.ViewModels.Login.LoginViewModel
@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Timely - Log in";
}

<div style="text-align: center">
    <h1>Timely</h1>
    <h4>Increase your productivity.</h4>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section id="loginForm">

            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailId, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", required = "required", type = "email" })
                        @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    @if (!string.IsNullOrWhiteSpace((string)ViewBag.Error))
                    {
                        <div class="error_container row" style="text-align: center;">
                            <span class="label label-danger col-md-8 col-md-offset-3">@ViewBag.Error</span>
                        </div>
                    }

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="text-align: center">
                        <button type="submit" class="btn btn-success" style="width: 120px">
                            <span style="margin-right: 6px;">
                                Log in
                            </span>
                            <span>
                                <i class="fa fa-paper-plane"></i>
                            </span>
                        </button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>