@model ProductivityTracker_Models.ViewModels.Dashboard.AccountInfoViewModel

<link href="~/css/style.css" rel="stylesheet" />

<div class="accounts-info-table-container">
    <table class="accounts-info-table row-border hover">
        <thead>
            <tr>
                <th style="width: 3%">
                    <span>S.No</span>
                </th>
                <th>
                    <span>CID-AID</span>
                </th>
                <th>
                    <span>Account Name</span>
                </th>
                <th>
                    <span>Start Date</span>
                </th>
                <th>
                    <span>Picked By</span>
                </th>
                <th>
                    <span>Picked On</span>
                </th>
                <th>
                    <span>Status</span>
                </th>
                <th>
                    <span>Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
            }
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <td>
                        <span>@(count++)</span>
                    </td>
                    <td>
                        <span>@account.CustomId</span>
                    </td>
                    <td>
                        <span>@account.AccountName</span>
                    </td>
                    <td>
                        <span>@account.StartDate</span>
                    </td>
                    <td>
                        <span>@account.PickedBy</span>
                    </td>
                    <td>
                        <div>
                            @if (account.PickedOn != null)
                            {
                                <div style="margin-bottom: 7px;">
                                    @account.PickedOn.Value.ToString("dd MMMM yy")
                                </div>
                                <div>
                                    @account.PickedOn.Value.ToString("hh:mm tt")
                                </div>
                            }
                        </div>
                    </td>
                    <td>
                        <span>@account.Status</span>
                    </td>
                    <td>
                        <span>
                            @if (account.Status == "New")
                            {
                                <button data-toggle="tooltip" title="Pick" class="btn btn-default account-action-button" type="submit" value="@account.AccountId" onclick="pickAccount(@account.AccountId, 1)">
                                    <i class="fa fa-play"></i>
                                </button>
                            }
                            @*else if (account.Status == "Completed")
                                {
                                    <button class="btn btn-default account-action-button" type="submit" disabled value="@account.AccountId">Completed</button>
                                }*@
                            else if (account.Status == "In Progress")
                            {
                                <button data-toggle="tooltip" title="Cancel" class="btn btn-default account-action-button" type="submit" value="@account.AccountId" onclick="showModal(@account.TimeLogId, @account.AccountId, 5)">
                                    <i class="fa fa-times"></i>
                                </button>

                                <button data-toggle="tooltip" title="Pause" class="btn btn-default account-action-button" type="submit" value="@account.AccountId" onclick="showModal(@account.TimeLogId, @account.AccountId, 3)">
                                    <i class="fa fa-pause"></i>
                                </button>

                                <button data-toggle="tooltip" title="Complete" class="btn btn-default account-action-button" type="submit" value="@account.AccountId" onclick="showModal(@account.TimeLogId, @account.AccountId, 4)">
                                    <i class="fa fa-check"></i>
                                </button>
                            }
                            else if (account.Status == "Paused")
                            {
                                <button data-toggle="tooltip" title="Resume" class="btn btn-default account-action-button" type="submit" value="@account.AccountId" onclick="pickAccount(@account.AccountId, 1)">
                                    <i class="fa fa-play"></i>
                                </button>
                            }

                            @if (account.ProgressHistory.Any())
                            {
                                var id = "historyModal" + account.AccountId;
                                <button data-toggle="tooltip" title="History" class="btn btn-default account-action-button" value="@account.AccountId" onclick="showHistory(@id)">
                                    <i class="fa fa-history"></i>
                                </button>
                            }
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="commentsModal" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog comments-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">Comments</h3>
            </div>
            <div class="modal-body" style="margin-bottom: 40px">
                <input type="hidden" id="hdnTimeLogId" />
                <input type="hidden" id="hdnAccountId" />
                <input type="hidden" id="hdnUserId" />
                <input type="hidden" id="hdnStatusId" />
                <input type="hidden" id="hdnProjectId" />
                <label>Enter comments: </label>
                <input type="text" class="form-control" id="txtComments" />
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn" data-dismiss="modal" onclick="completeAccount()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@{
    foreach (var account in Model.Accounts)
    {
        if (account.ProgressHistory.Count() > 0)
        {
            var modalId = "historyModal" + account.AccountId;
            <div id="@modalId" class="modal history-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 60%;">  
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h3 id="myModalLabel">@account.AccountName</h3>
                        </div>
                        <div class="modal-body">

                            <div class="account-history-container">
                                <div class="heading2">
                                    <h2 style="margin-bottom: 0;">
                                        Timeline
                                    </h2>
                                </div>

                                <table class="account-history-table row-border hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 35px">
                                                <span>S.No</span>
                                            </th>
                                            <th style="width: 100px">
                                                <span>Asignee</span>
                                            </th>
                                            <th style="width: 100px">
                                                <span>Picked On</span>
                                            </th>
                                            <th style="width: 150px">
                                                <span>Paused/Completed On</span>
                                            </th>
                                            <th style="width: 80px">
                                                <span>Status</span>
                                            </th>
                                            <th style="width: 150px">
                                                <span>Comments</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var logCount = 1;
                                        }
                                        @foreach (var log in account.ProgressHistory)
                                        {
                                            <tr>
                                                <td>
                                                    <span>@(logCount++)</span>
                                                </td>
                                                <td>
                                                    <span>@log.UserName</span>
                                                </td>
                                                <td>
                                                    <div style="margin-bottom: 7px;">
                                                        @log.StartTime.ToString("dd MMMM yy")
                                                    </div>
                                                    <div>
                                                        @log.StartTime.ToString("hh:mm tt")
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        @if (log.EndTime != null)
                                                        {
                                                            <div style="margin-bottom: 7px;">
                                                                @log.EndTime.Value.ToString("dd MMMM yy")
                                                            </div>
                                                            <div>
                                                                @log.EndTime.Value.ToString("hh:mm tt")
                                                            </div>
                                                        }
                                                    </div>
                                                </td>
                                                <td>
                                                    <span>@log.Status</span>
                                                </td>
                                                <td>
                                                    <span>@log.Comments</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @{
                                var timeSpentDetails = from historyDetails in account.ProgressHistory
                                                       group historyDetails by historyDetails.UserName
                                        into detail
                                                       select new
                                                       {
                                                           Assignee = detail.Key,
                                                           TimeSpent = Convert.ToInt32(detail.Sum(x => x.EndTime != null ? (x.EndTime - x.StartTime).Value.TotalMinutes :
                                                               (DateTime.Now - x.StartTime).TotalMinutes))
                                                       };
                                var userLogCount = 1;
                            }
                            <div class="account-user-log-container">
                                <div class="heading2">
                                    <h2 style="margin-bottom: 0;">
                                        Time Spent
                                    </h2>
                                </div>

                                <table class="account-user-log-table row-border hover" style="width: 50%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>S.No</span>
                                            </th>
                                            <th>
                                                <span>Asignee</span>
                                            </th>
                                            <th>
                                                <span>Time(min)</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in timeSpentDetails)
                                        {
                                            <tr>
                                                <td>
                                                    <span>@(count++)</span>
                                                </td>
                                                <td>
                                                    <span>@user.Assignee</span>
                                                </td>
                                                <td>
                                                    <span>@user.TimeSpent</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
                                    }
                                }
}


<script>
    $(document).ready(function () {
        $('.accounts-info-table').DataTable({
            "pageLength": 20,
            columnDefs: [
            {
                targets: [0, 1, 2],
                className: 'mdl-data-table__cell--non-numeric'
            }
            ]
        });

        $('.account-user-log-table, .account-history-table').DataTable({
            "bSort": false,
            "searching": false,
            "bPaginate": false,
            "lengthChange": false,
            columnDefs: [
            {
                targets: [0, 1, 2],
                className: 'mdl-data-table__cell--non-numeric'
            }
            ]
        });
    });
</script>
